#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 50px;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }
  }
}

main {
  max-width: 800px;
  margin: 0 auto;

  .room-title {
    margin: 32px 0 24px;
    display: flex;
    align-items: center;

    h1 {
      font-size: 24px;
      color: #29293E;
    }

    span {
      margin-left: 16px;
      background: #E559F9;
      border-radius: 999px;
      padding: 8px 16px;
      color: #FFF;
      font-weight: 500;
      font-size: 14px;
    }
  }

  form {
    textarea {
      width: 100%;
      border: 1px solid transparent;
      padding: 16px;
      border-radius: 8px;
      background: #FEFEFE;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
      resize: vertical;
      min-height: 130px;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      .user-info {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        
        span {
          margin-left: 8px;
          color: #29292E;
          font-weight: 500;
          font-size: 14px;
        }
      }

      > span {
        font-size: 14px;
        color: #737380;
        
        button {
          background: transparent;
          border: 0;
          color: #835AFD;
          font-weight: 500;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }

  .questions-list {
    margin-top: 32px;
  }
}